.outer{
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    .head{
        color: #6058cf;
        font-size: 1.25rem;
    }
    .section-first{
        display: flex;
        justify-content: space-around;
        
    }
    .addNew{
        display: flex;
        align-items: start;
        mat-form-field{
            margin: 0px !important;
        }
        mat-form-field-wrapper {
            margin: 0px !important;
        }
        label{
            margin-top: 5px;
        }
        .form-half{
            width: 20%;
        }
        .form-date{
            width: 30%;
        }
        .form-full{
            width: 25%;
        }
        .form-detail{
            // margin-top: 5%;
            width: 25%;
        }
    }
    .card1{
        width: 60%;
    }
    .card2{
        width: 40%;
    }
 .section-second{
     margin-top: 5%;
     .head{
        color: #6058cf;
        font-size: 1.25rem; 
     }
     .table{
        
        height: 20vh;
         overflow-y: scroll;
         th{
             background-color: lightgray;
             color: gray;
         }
         input{
             width: 20%;
         }
         td{
             padding-top: 1%;
             text-align: center;
         }
     }
    
      
      table {
        width: 100%;
        border-collapse: collapse;
      }
      .add-btn-position{
          display: flex;
          justify-content: center;
          align-items: center;
          .add-btn{
              background-color: #0064bb;
              color: white;
              outline: none;
              cursor: pointer;
              border: none;
              width: 15%;
          }
          .add-btn:hover{
              opacity: 0.6;
          }
      }
      .grand-total-position{
          margin-top: 5%;
          float: right;
          display: flex;
          justify-content: space-around;
          border: 1px solid green;
          color: green;
          padding-top: 1.5%;
          width: 40%;
      }
      .buttons{
          display: flex;
          width: 50%;
          margin-top: 15%;
          justify-content: space-around;
          .save-btn{
              color: white;
              background-color: green;
              outline: none;
              cursor: pointer;
              border: none;
              border-radius: 5px;
              width: 150px;

          }
          .save-btn:hover{
              opacity: 0.6;
          }
          .btn{
            width: 150px;
          }
          .btn:hover{
              opacity: 0.6;
          }
      }
 }
    
}