<div class="outer">
    <div class="first-container">
        <mat-card class="cards">
            <p class="head">10,000</p>
            <p class="sub-head">Total Sales</p>
        </mat-card>
        <mat-card class="cards">
            <p class="head">2,345</p>
            <p class="sub-head">Invoices</p>
        </mat-card>
        <mat-card class="cards">
            <p class="head">145</p>
            <p class="sub-head">Stores</p>
        </mat-card>
        <mat-card class="cards">
            <p class="head">2,333</p>
            <p class="sub-head">Products</p>
        </mat-card>
        <mat-card class="cards">
            <p class="head">32</p>
            <p class="sub-head">Pur. Order</p>
        </mat-card>
    </div>
    <div class="second-container">
        <div class="box">
            <label>Date</label><br>
            <mat-form-field appearance="fill">
             
                <mat-select [(value)]="Today">
                  <mat-option value="Today">
                    Today
                  </mat-option>
                  <mat-option value="Week">
                    Week
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>

        <div class="box">
            <label>Region</label><br>
            <mat-form-field appearance="fill">
              
                <mat-select [(value)]="ALL">
                  <mat-option value="ALL">
                    ALL
                  </mat-option>
                  <mat-option value="Asia">
                    Asia
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>

        <div class="box">
            <label>Store</label><br>
            <mat-form-field appearance="fill">
                
                <mat-select [(value)]="ALL">
                  <mat-option value="ALL">
                    ALL
                  </mat-option>
                  <mat-option value="Some">
                    Some
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>

        <div class="box">
            <div class="filter-btn">
                <p class="filter-title">Filter</p>
                <mat-icon>filter_alt</mat-icon>
            </div>
         
        </div>
       
    </div>
    <div class="third-container">
        <p class="head">
            Total Sales
        </p>
        <div echarts [options]="chartOption" class="demo-chart"></div>
    </div>
</div>